.markerInfo {
  display: block;
  text-align: center;
  margin-bottom: 0.5rem;
  &__title {
    font-size: 1.1rem;
    font-weight: bold;
    color: brown;
    margin-right: 0.5rem;
  }
  &__value {
    font-size: 1rem;
  }
}
