:root {
  --kw-color-1: #ff7f00;
  --kw-color-2: #ef4136;
  --kw-color-2-light: #f7584e;
  --kw-color-3: #666666;
  --kw-color-4: #b2b1ad;
  --kw-color-white: #ffffff;
  --kw-screen-sm: 640px;
  --kw-screen-md: 768px;
  --kw-screen-lg: 1024px;
  --kw-screen-xl: 1280px;
  --kw-screen-2xl: 1536px;
}
